<header>
    <h1><a href="/">sing</a></h1>
    <hr>
</header>
<div id="enter">
  <form class="" action="/enterSingRoom" method="post">
    <div class="form-password">
        <div class="infomation-form">
            <input type="text" name="password" placeholder="enter password">
        </div>
    </div>
    <div class="button-send-password">
        <button type="submit"> sing </button>
    </div>
    </form>
</div>

<script src="/dependencies/sails.io.js"></script>
<script src="/dependencies/vue.js"></script>
<script src="/js/enter.js"></script>
