<header>
    <h1><a href="/">sing</a></h1>
    <hr>
</header>
<main>
    <div class="flex">
        <div>
            <a class="link-image" href="/which"><img src="images/ButtonSinger.png" alt="ForSinger"></a>
        </div>
        <div>
            <a class="link-image" href="/listener"><img src="images/ButtonListener.png" alt="ForListener"></a>
        </div>
    </div>
</main>
