<header>
    <h1><a href="/">sing</a></h1>
    <hr>
</header>

<a href="/registerSinger">register</a>
<a href="/enter">enter</a>

<script src="/dependencies/sails.io.js"></script>
<script src="/dependencies/vue.js"></script>
